/* This file contains formatting for the FilterMenu component */

/* Formatting for the individual checkboxes */
.checkbox-wrapper input[type="checkbox"] {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.5em;
    outline: none;
    cursor: pointer;
    background: white;
    display: flex;
    justify-content: left;
}

/* Formatting for the label to the right of the checobx */
.checkbox-label {
    display: flex;
    font-size: 12pt;
}

/* Formatting for the subboxes */
.subBox-wrapper input[type="checkbox"] {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    margin-left: 1.5em;
    outline: none;
    cursor: pointer;
    background: white;
    display: flex;
    justify-content: left;
}

/* Formatting for the label of the subboxes */
.subBox-label {
    display: flex;
    font-size: 10pt;
}

/* Formatting for the box containing the filter menu*/
.filter-box {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    background-color:#e0e0e0; 
    padding: .5rem 1rem .8rem 1rem;
}

/* Formatting for the apply button */
.apply-button {
    background-color:#6f48eb;
    border-width: 0;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    height: 1.5rem;
    width: 70%;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

/* Formatting for when the cursor is on the apply button */
.apply-button:hover {
    background-color: rgba(111,72,235, .8);
}