.Manage-body {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    color: black;
    font-size: calc(10px + 2vmin);
    font-weight: bold;
    flex-direction: column;
}