/* This file contains formatting for the ManageBookings page */

/* Formattingg for the body of the ManageBookings page */
.Manage-body {
    background-color: #555;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    color: #fff;
}