.App { /*defines properties of the App in general*/
  text-align: center;
}

.App-logo { 
  height: 40vmin; /*minimum height of the logo*/ 
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear; /*defines the time that the logo will animate before repeating x number of times, infinite in this case*/
  }
}

.App-header { /*defines properties of the header only*/
  padding-left: 2.5%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #282c34; /*background color*/
  min-height: 10vh; /*minimun height of the header in % of the screen size*/
  display: flex; /*unknown*/
  flex-direction: row; /*whether the text will be aligned in columns or rows*/
  align-items: center; /*dont know the difference between these two*/
  justify-content: left;
  font-size: calc(10px + 2vmin); /*font size and text size*/
  color: white; /*text color*/
}

.Header-item {
  flex-direction: column;
  text-decoration: none;
  color: grey;
}

.Header-item:hover {
  color: white;
}

.App-body {
  background-color: slategray; /*background color*/
  min-height: 100vh; /*minimun height of the body in % of the screen size*/
  display: flex; /*unknown*/
  flex-direction: column; /*whether the text will be aligned in columns or rows*/
  align-items: center; /*dont know the difference between these two*/
  justify-content: center;
  font-size: calc(10px + 2vmin); /*font size and text size*/
  color: black; /*text color*/
}

.App-link { /*defines properties of the link*/
  color: #61dafb; /*text color*/
}

.App-link:hover {
  color: lightblue;
}

.Test {
  background-color: slategray; /*background color*/
  min-height: 100vh; /*minimun height of the body in % of the screen size*/
  max-width: 20%;
  display: flex; /*unknown*/
  flex-direction: column; /*whether the text will be aligned in columns or rows*/
  align-items: center; /*dont know the difference between these two*/
  justify-content: center;
  font-size: calc(10px + 2vmin); /*font size and text size*/
  color: black; /*text color*/ 
}

@keyframes App-logo-spin { /*defines properties of the animation*/
  from {
    transform: rotate(0deg); /*logo will spin 360 degrees in x time, defined in @media*/
  }
  to {
    transform: rotate(360deg);
  }
}
