.App { 
  text-align: center;
}

.App-header { 
  padding-left: 2.5%;
  background-color: rgb(104, 104, 104); 
  min-height: 1rem; 
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: left;
  font-size: calc(10px + 2vmin); 
  color: black; 
}

.button-style {
  width: 5rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}