/* General Formatting for the application */

.App { 
  text-align: center;
}

/* Formatting for most general buttons like the confirm button */
.button-style {
  width: 5rem;
  height: 2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}